# Data Science Tools and Ecosystem

In this notebook, Data science Tool and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. Java

Some of the commonly used libraries used by Data Scientists 
1. Pandas
2. Numbpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
-------------------------------
|Jupiter      |
|Jupiter Lab  |
|R Studio     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic exprssion to multiply then add integers
(3*4)+5

17

In [4]:
#This code will convert 200 minutes into hours by dividing by 60
a=200
a=a/60

In [5]:
a

3.3333333333333335

### Objectives:

* List popular Langauges for Data Science
* List Popular Libraries For Data Science
* List Popular Open Source Data Science Tools for Development Environment
* Intoduction for arithmetic expressions using jupyter notebook
* Conversion of a 200 minutes to hours by dividing by 60

## Author
Aishwarya S